#ti {
    position: absolute;
    text-align: right;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 45px;
}

#guess {
    position: absolute;
    background: transparent;
    top: 90px;
    left: 150px;
}

#pred {
    position: absolute;
    color: #d3d3d3;
    top: 90px;
    left: 150px;
}